<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 下划线转驼峰，mybatisplus默认为true -->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
        <!-- 开启log4j -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 配置mybatisplus分页插件 -->
    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="dialectType" value="mysql"/>
        </plugin>
    </plugins>

</configuration>