<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 扫描注解 -->
    <context:component-scan base-package="com.jeff.controller"/>
    <!-- 注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 静态资源 -->
    <mvc:resources location="/static/js/" mapping="/static/js/**"/>
    <mvc:resources location="/static/css/" mapping="/static/css/**"/>
    <mvc:resources location="/static/images/" mapping="/static/images/**"/>
    <!-- 自定义视图解析器,如果希望不执行自定义视图解析器, 在方法返回值前面添加forward:或redirect: -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 为响应的视图名称加上前缀 -->
        <property name="prefix" value="/WEB-INF/page/"/>
        <!-- 为响应的视图名称加上后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 开启aop代理 -->
    <aop:config proxy-target-class="true"/>
    <!-- 开启shiro注解支持，可在controller方法中使用shiro注解配置权限 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!-- 异常处理 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!-- 认证异常 -->
                <prop key="org.apache.shiro.authz.UnauthenticatedException">loginPage</prop>
                <!-- 授权异常 -->
                <prop key="org.apache.shiro.authz.UnauthorizedException">unauth</prop>
            </props>
        </property>
    </bean>
</beans>